# anjuta
.anjuta
.anjuta_sym_db.db
libghwp.anjuta

# backup file
*~
*.swp

# autotools
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1

# output
*.la
*.lo
.deps
.libs
*.pc
*.o

# output files of dpkg-buildpackage
debian/autoreconf.after
debian/autoreconf.before
debian/files
debian/libghwp-dev.debhelper.log
debian/libghwp-dev.substvars
debian/libghwp-dev/
debian/libghwp.debhelper.log
debian/libghwp.postinst.debhelper
debian/libghwp.postrm.debhelper
debian/libghwp.substvars
debian/libghwp/
debian/stamp-autotools
debian/stamp-autotools-files
debian/stamp-copyright-check
debian/stamp-makefile-build
debian/stamp-makefile-install
debian/stamp-upstream-cruft
debian/tmp/

